$transparent-white: rgba(255, 255, 255, 0.514);

.cocktail-modal-container {
  position: absolute;

  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  //   background: rgba(0, 0, 0, 0.747);
  background: rgba(255, 255, 255, 0.747);

  .cocktail-modal {
    height: 410px;
    width: 700px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.9fr;
    gap: 0px 0px;
    grid-template-areas:
      "div1 div1"
      "div2 div3";

    padding: 40px;

    background: rgba(0, 0, 0, 0.89);
    border-radius: 20px;

    .div1 {
      grid-area: div1;

      display: flex;
      justify-content: space-between;
      align-items: center;

      padding-bottom: 40px;

      h3 {
        font-size: 24pt;
        margin: 0;
      }

      .close-icon {
        transition: color 0.3s;

        &:hover {
          cursor: pointer;
          color: $transparent-white;
        }
      }
    }
    .div2 {
      grid-area: div2;

      img {
        height: 300px;
        border-radius: 10px;
      }
    }
    .div3 {
      margin-left: 30px;
      grid-area: div3;

      overflow-y: scroll;

      h4 {
        text-align: left;
        margin: 0 0 5px 0;
      }

      p {
        text-align: left;
        margin: 0 0 20px 0;
      }
    }
  }
}

.hidden {
  display: none;
}
