.cocktail-modal-container {
  position: absolute;

  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.747);

  .cocktail-modal {
    height: 700px;
    width: 700px;

    display: grid;
    grid-template-columns: 0.1fr 0.8fr 0.1fr;
    grid-template-rows: 0.2fr 0.8fr;

    padding: 40px;

    background: rgba(0, 0, 0, 0.89);
    border-radius: 20px;

    .div1 {
      grid-area: 1 / 1 / 2 / 2;
    }
    .div2 {
      grid-area: 1 / 2 / 2 / 3;
    }
    .div3 {
      grid-area: 1 / 3 / 2 / 4;
    }
    .div4 {
      grid-area: 2 / 1 / 3 / 2;
    }
    .div5 {
      grid-area: 2 / 2 / 3 / 4;
    }
  }
}
