.cocktail-result {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 120px;
  width: 800px;

  margin: 20px 0 20px 0;
  padding: 20px;

  background: rgba(255, 255, 255, 0.082);
  border-radius: 10px;

  transition: background 0.3s;

  &:hover {
    background: rgba(255, 255, 255, 0.151);
  }

  img {
    height: 80px;
    border-radius: 5px;
  }

  p {
    font-size: 14pt;
    font-weight: 600;
  }
}
