$transparent-white: rgba(255, 255, 255, 0.514);

.App {
  font-family: "Poppins", sans-serif;

  box-sizing: border-box;
  text-align: center;
  background-image: url(./img/background.png);
  background-size: cover;

  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #f1faee;

  .main-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 900px;
    width: 900px;

    padding: 40px;

    background: rgba(0, 0, 0, 0.596);
    border-radius: 20px;
    backdrop-filter: blur(10px);

    .search-bar-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 100%;
      border-bottom: 2px solid $transparent-white;

      .logo {
        display: flex;

        height: 35px;
        margin-bottom: 40px;
      }

      .search-bar {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 60px;
        width: 600px;

        background: rgba(255, 255, 255, 0.082);
        // border: 2px solid $transparent-white;
        border-radius: 10px;

        margin-bottom: 40px;

        .search-bar-input {
          height: 50px;
          width: 500px;

          text-align: center;
          font-size: 16pt;

          color: white;
          background: transparent;
          border: none;

          &:focus {
            outline: none;
          }

          &:focus::placeholder {
            color: transparent;
            font-size: 10pt;
          }
        }

        .close-icon {
          transition: color 0.5s;

          &:hover {
            cursor: pointer;
            color: $transparent-white;
          }
        }
      }
    }

    .result-container {
      overflow-y: scroll;
      padding-top: 0px;
    }
  }
}

@media screen and (max-width: 991px) {
  .App {
    .main-container {
      width: 600px;

      .search-bar-container {
        width: 80%;

        .search-bar {
          width: 500px;

          .search-bar-input {
            width: 400px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .App {
    .main-container {
      width: 480px;

      .search-bar-container {
        width: 80%;

        .search-bar {
          width: 460px;

          .search-bar-input {
            width: 400px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .App {
    .main-container {
      width: 340px;

      .search-bar-container {
        width: 80%;

        .search-bar {
          width: 320px;

          .search-bar-input {
            width: 250px;

            &::placeholder {
              font-size: 13pt;
            }
          }
        }
      }
    }
  }
}
